{% extends "questions/gen_temp.html" %}

{% block title %}
<title>Главная</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9">
{% for question in recent %}
	{% include "questions/Tquestion.html" %}
{% endfor %}
</div>
{%include "questions/Ttags.html"%}
</div>
{% endblock content %}

{% block nav-main %}
    <li class="active"><a href="http://127.0.0.1/" class="my-color-inverse">Главная<span class="sr-only"></span></a></li>
{% endblock nav-main %}